#-----------------------------------------------------
#
# See full example in /docs/docker-compose/
#
#-----------------------------------------------------
services:
  playground:
    container_name: play_dev
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    restart: always
    networks:
      - sandnet
    entrypoint: [
      "/playground",
      "--backend-url", "http://sandbox_dev",
      "--port", "8081",
    ]

  sandbox:
    container_name: sandbox_dev
    build:
      context: ./sandbox
      dockerfile: Dockerfile
    ports:
      - "8082:80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - sandnet
    restart: always
    entrypoint: [
      "/usr/local/bin/sandbox",
      "--replicaContainerCnt", "1",
      "--port", "80",
      "--dev",
      "--dockerFilesPath", "/dockerfiles",
    ]

networks:
  sandnet:
    name: codenire
