name: Golang CI Linter

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github'
      - 'LICENSE.MD'
      - 'README.md'
      - 'docs/**'
      - 'infra/**'
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      IMAGE_USERNAME: codiew
      IMAGE_NAME: codiew/codenire-playground
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Playground
      - uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.63.4


      # Sandbox
      - name: Copy .golangci config
        run: |
          cp ./.golangci.yml ./sandbox/

      - name: golangci-lint sandbox
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.63.4
          working-directory: sandbox
